div(class="twst-plate-details-main twst-child-page")
    h1 Plate Details
    form(class="twst-plate-details-main-inputs")
        p(class="twst-block-header") Plate Barcode
        input(type="text" class="form-control" ng-model="plateBarcode" typeahead="barcode for barcode in getTypeAheadBarcodes($index)" typeahead-loading="loadingLocations" typeahead-no-results="noResults")
        twst-thumb-validation-icon(validation="plateBarcode.length > 5")
        button(class="twst-get-plate-details-button twst-button twst-blue-button" ng-click="getDetailsClicked()" ng-class="{'twst-disabled-button' : plateBarcode.length < 6}") Get Details
        i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh twst-offscreen")
        div(ng-show="noResults" class="twst-offscreen")
          i(class="glyphicon glyphicon-remove") No Results Found
        div(class="twst-plate-details-display" ng-if="fetchingDetails || plateDetails")
            h2 Details for plate
                strong &nbsp;{{plateBarcode}}
            div(class="twst-spinner" ng-if="fetchingDetails")

    div(ui-view)