div(class="twst-view-manage-transform-specs-main")
    h3 Saved Transform Specs
    div(class="twst-view-manage-transform-specs-list")
        table(class="twst-data-readout-table twst-transform-specs-list")
            tr
                td(class="twst-data-readout-table-header") Plan Id
                td(class="twst-data-readout-table-header") Source Plate(s)
                td(class="twst-data-readout-table-header") Desination Plate(s)
                td(class="twst-data-readout-table-header") Date Created
                td(class="twst-data-readout-table-header") Status
            tr(ng-repeat="plan in transformSpecs")
                td {{}}
                td {{}}
                td {{}}
                td {{}}
                td {{}}
                td {{}}
            tr(ng-if="!transformSpecs.length")
                td(colspan="20" class="twst-empty-transform-specs-message") You currently have no saved transform specs.
                    button(class="twst-blue-button" ng-click="newTransformSpec()") Create New Spec
