div(class="twst-view-manage-transform-specs-main" ui-view)
    h3 Saved Transform Specs
    div(class="twst-view-manage-transform-specs-list")
        table(class="twst-data-readout-table twst-transform-specs-list")
            tr
                td(class="twst-data-readout-table-header") Plan Id
                td(class="twst-data-readout-table-header") Source Plate(s)
                td(class="twst-data-readout-table-header") Desination Plate(s)
                td(class="twst-data-readout-table-header") Date Created
                td(class="twst-data-readout-table-header") Status
                td(class="twst-data-readout-table-header") Action(s)
            tr(ng-repeat="plan in transformSpecs track by plan.id" ng-class="{'twst-greyed-row': plan.deleting}")
                td {{::plan.id}}
                    div(class="twst-spinner" ng-if="plan.deleting")
                td 
                    span(ng-repeat="source in plan.sources track by source.details.barcode")
                        a(href="#/plate-details/{{::source.details.barcode}}") {{::source.details.barcode}}
                        span {{::$index < plan.sources.length-1 ? ', ': ''}}
                td
                    span(ng-repeat="destination in plan.destinations track by destination.details.barcode")
                        a(href="#/plate-details/{{::destination.details.barcode}}") {{::destination.details.barcode}}
                        span {{::$index < plan.destinations.length-1 ? ', ': ''}}
                td {{::plan.date_created}}
                td {{::plan.status}}
                td
                    button(class="twst-button" ng-click="viewSpec(plan)") view
                    button(class="twst-button") edit
                    button(class="twst-button twst-red-button" ng-click="deleteSpec(plan)") delete
            tr(ng-if="!transformSpecs.length")
                td(colspan="20" class="twst-empty-transform-specs-message") You currently have no saved transform specs.
        twst-message(message="specActionResultMessage" visible-and-valid="specActionResultVisible")
        button(class="twst-blue-button twst-view-manage-transform-specs-new-button" ng-click="newTransformSpec()") Create New Spec