div(class="twst-header")
    div(class="twst-header-inner")
        img(class="twst-header-logo-image" src="/static/images/twist.png")
        h1(class="twst-header-title") Sample Tracker
        div(class="twst-header-user-info" ng-if="user.data")
            p Logged in as {{user.data.name}}
            a(class="twst-logout-button twst-button" href="/logout") Logout