div(class="twst-plate-details-main twst-child-page")
    h1 Plate Details
    form(class="twst-plate-details-main-inputs")
        p(class="twst-block-header") Plate Barcode
        input(type="text" class="form-control" ng-model="plateBarcode" typeahead="barcode for barcode in getTypeAheadBarcodes($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults")
        twst-thumb-validation-icon(validation="plateBarcode.length > 5")
        button(class="twst-get-plate-details-button twst-button twst-blue-button" ng-click="getDetailsClicked()" ng-class="{'twst-disabled-button' : plateBarcode.length < 6}") Get Details
        a
            Download Excel
        i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh twst-offscreen")
        div(ng-show="noResults" class="twst-offscreen")
          i(class="glyphicon glyphicon-remove") No Results Found
        div(class="twst-plate-details-display" ng-if="fetchingDetails || plateDetails")
            h2 Details for plate
                strong &nbsp;{{plateBarcode}}
            div(class="twst-spinner" ng-if="fetchingDetails")

            div(class="twst-plate-details-readout" ng-if="plateDetails")
                p 
                    span(class="twst-data-label") Date:&nbsp;
                    strong {{plateDetails.plateDetails.dateCreatedFormatted}}
                    span(class="twst-data-label") &nbsp; Created By:&nbsp;
                    span {{plateDetails.plateDetails.createdBy}} &nbsp; 
                div(class="twst-plate-details-readout-tables")
                    div(class="twst-plate-details-readout-left" ng-if="plateDetails.parentPlates.length || plateDetails.childPlates.length")
                        div(class="twst-plate-details-block twst-plate-details-readout-parent-plates" ng-if="plateDetails.parentPlates.length")
                            p(class="twst-block-header") Parent Plate(s) 
                            table(class="twst-data-readout-table")
                                tr
                                    td(class="twst-data-readout-table-header") Barcode
                                    td(class="twst-data-readout-table-header") Creation Date
                                tr(ng-repeat="parentPlate in plateDetails.parentPlates")
                                    td
                                        a(href="#/plate-details/{{parentPlate.externalBarcode}}") {{parentPlate.externalBarcode}}
                                    td {{parentPlate.dateCreatedFormatted}}
                        div(class="twst-plate-details-block twst-plate-details-readout-child-plates" ng-if="plateDetails.childPlates.length")
                            p(class="twst-block-header") Child Plate(s)
                            table(class="twst-data-readout-table")
                                tr
                                    td(class="twst-data-readout-table-header") Barcode
                                    td(class="twst-data-readout-table-header") Creation Date
                                tr(ng-repeat="childPlate in plateDetails.childPlates")
                                    td
                                        a(href="#/plate-details/{{childPlate.externalBarcode}}") {{childPlate.externalBarcode}}
                                    td {{childPlate.dateCreatedFormatted}}
                    div(class="twst-plate-details-readout-right")
                        div(class="twst-plate-details-block twst-plate-details-readout-child-plates" ng-if="plateDetails.wells.length")
                            p(class="twst-block-header") Wells ({{plateDetails.wells.length}} used)
                            table(class="twst-data-readout-table")
                                tr
                                    td(class="twst-data-readout-table-header") Well Id
                                    td(class="twst-data-readout-table-header") Col/Row
                                    td(class="twst-data-readout-table-header") Sample Id
                                tr(ng-repeat="well in plateDetails.wells")
                                    td {{well.well_id}}
                                    td {{well.column_and_row}}
                                    td {{well.sample_id}}
    div(ui-view)