div(class="twst-hamilton-step")
    div("twst-hamilton-step-direction")
        span(class="twst-bullet-number") 3
        span SOURCES: 
            strong(ng-bind-html="currentStepInstruction")
            span(class="twst-hamilton-source-plates-remaining" ng-ig="scannedSourcePlateCount < hamiltonDataObj.allSourcePlates.length") {{hamiltonDataObj.allSourcePlates.length - scannedSourcePlateCount}} remaining
            button(class="twst-button twst-red-button twst-source-plates-start-over-button" ng-click="restartSourcePlateScan()") start over