div(class="twst-header")
    img(class="twst-header-logo-image" src="/static/images/twist.png")
    h1(class="twst-header-title") Sample Tracker
    div(class="twst-header-user-info")
        p Logged in as {{user}}
            a(class="twst-button" href="/logout") Logout