div(class="twst-record-step-form" class="twst-transform-template-{{transformSpec.details.transfer_template_id}}")
    div(class="twst-record-step-plate-barcodes")
        div(class="twst-record-step-plate-barcodes-left")
            p(class="twst-block-header") {{transformSpec.getSourcesHeader()}}:
            div(class="twst-record-step-plate-row" ng-repeat="plate in transformSpec.sources")
                div(class="twst-record-step-plate-title" ng-if="plate.details.title" ng-bind-html="plate.details.title")
                div(class="twst-record-step-plate-input")
                    input(type="text" class="form-control" ng-model="plate.details.id" typeahead="barcode for barcode in getTypeAheadBarcodes($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-blur="updateTransferPlan(plate.details.id, 'source', $index)")
                    div(class="twst-remove-plate-button" ng-click="transformSpec.removePlateInput('source', $index)" ng-if="transformSpec.map.source.variablePlateCount && ($index || transformSpec.sources.length > 1)")
                        div(ng-include="'static/images/trash-can.svg'")
                    div(class="twst-spinner twst-plate-data-loading-spinner" ng-if="plate.updating")
                    twst-thumb-validation-icon(validation="plate.loaded" error="plate.error")
                    i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh twst-offscreen")
                    div(ng-show="noResults" class="twst-offscreen")
                      i(class="glyphicon glyphicon-remove") No Results Found
            div(class="twst-add-plate-button" ng-click="transformSpec.addPlateInput('source')" ng-if="transformSpec.map.source.variablePlateCount")
                button(class="twst-button twst-blue-button") +
                span Add Source
        div(class="twst-record-step-plate-barcodes-right")
            p(class="twst-block-header" ng-class="{'twst-invisible': !transformSpec.destinations.length}") {{transformSpec.getDestinationsHeader()}}:
            div(class="twst-record-step-plate-row" ng-repeat="plate in transformSpec.destinations" ng-class="{'twst-2em-top-margin': $index && plate.first_in_group}")
                div(class="twst-record-step-plate-title" ng-if="plate.details.title" ng-bind-html="plate.details.title")
                div(class="twst-record-step-plate-input")
                    input(type="text" class="form-control" ng-model="plate.details.id" ng-blur="updateTransferPlan(plate.details.id, 'destination', $index)")
                    div(class="twst-remove-plate-button" ng-click="transformSpec.removePlateInput('destination', $index)" ng-if="transformSpec.map.destination.variablePlateCount && ($index || transformSpec.destinations.length > 1)")
                        ng-include(src="'static/images/trash-can.svg'")
                    div(class="twst-spinner twst-plate-data-loading-spinner" ng-if="plate.updating")
                    twst-thumb-validation-icon(validation="plate.loaded" error="plate.error")
            div(class="twst-add-plate-button" ng-click="transformSpec.addPlateInput('destination')" ng-if="transformSpec.map.destination.variablePlateCount")
                button(class="twst-button twst-blue-button") +
                span Add Destination
    div(class="twst-record-step-main-excel-upload")
        div(class="twst-record-step-excel-upload-summary" ng-if="transformSpec.planFromFile || fileErrors.length")
            h3 Excel File Pre-upload Summary:
            p Source plate count:
                strong &nbsp;{{excelFileStats.source_plate_count}}
                span &nbsp; &nbsp; Destination plate count:
                strong &nbsp;{{excelFileStats.destination_plate_count}}
            p {{excelFileStats.wellCountHeader}}
            ul(class="twst-record-step-excel-upload-summary-row-count-item")
                li(ng-repeat="(key, val) in excelFileStats.sourcePlateRows")
                    a(href="#/plate-details/{{key}}") {{key}}
                    strong : {{val}}
            div(class="twst-record-step-excel-upload-summary-errors" ng-if="fileErrors.length")
                h3 Errors!
                ul
                    li(ng-repeat="error in fileErrors") {{error}}
            h3(class="twst-record-step-excel-upload-summary-ok" ng-if="fileErrors.length == 0") File is valid and ready for upload!
        div(class="twst-record-step-excel-upload-area" twst-drop-target="catchFile") Drop the transfer file here
            twst-thumb-validation-icon(validation="transformSpec.operations.length" error="fileErrors.length" errors-invisible="true")
            div(class="twst-spinner twst-parsing-file-spinner" ng-if="parsingFile")
    div(class="twst-record-step-hamilton-wizard" ng-if="templateTypeSelection == Constants.HAMILTON_OPERATION")
        div
            div(twst-hamilton-wizard-thumbs-up-medallion ng-repeat="thumbsUp in hamiltonThumbsUp" fade-finish="finishHamiltonThumbsUpFade" thumbs-up-index="thumbsUp")
            div(ui-view="hamiltonWizard" autoscroll="true")
                p The Hamilton Wizard will guide you through recording the plate data to create a worklist for this Hamilton run.
                button(class="twst-button twst-blue-button twst-record-step-start-hamilton-button" ng-click="startHamiltonSteps()") Start Hamilton Wizard

    div(class="twst-record-step-present-request-data-pane" ng-class="{'twst-record-step-present-request-data-pane-visible': showPresentedRequestedData}")
        h1 Additional Items for this Transform
        div(class="twst-record-step-present-request-data-pane-content")
            div(class="twst-present-request-data-pane-content-left" ng-if="transformSpec.requestedDataItems.length")
                h3
                    strong Requested 
                    span Items:
                ul(class="twst-record-step-requested-items")
                    li(class="twst-record-step-requested-item" ng-repeat="item in transformSpec.requestedDataItems")
                        twst-transform-spec-data-request-item(transform-spec="transformSpec" item="item")
            div(class="twst-present-request-data-pane-content-divider" ng-if="transformSpec.presentedDataItems.length && transformSpec.requestedDataItems.length") 
            div(class="twst-present-request-data-pane-content-right" ng-if="transformSpec.presentedDataItems.length")
                h3 
                    strong Available 
                    span Items:
                ul(class="twst-record-step-presented-items")
                    li(class="twst-record-step-presented-item" ng-repeat="item in transformSpec.presentedDataItems") 
                        twst-transform-spec-data-presentation-item(transform-spec="transformSpec" item="item")

    div(class="twst-transform-spec" ng-show="templateTypeSelection != Constants.HAMILTON_OPERATION")
        div(class="twst-transform-spec-show-btn" ng-click="showTransferPlan = !showTransferPlan")
            div(class="twst-custom-radio twst-selected-{{showTransferPlan}} twst-custom-radio-as-checkbox" val="show")
            span(class="twst-custom-radio-label") Preview Transform Spec
        div(class="twst-transform-spec-transfers-list" ng-show="showTransferPlan")
            div(class="twst-spinner twst-step-submitting-spinner" ng-if="transformSpec.updating")
            div(ng-show="!transformSpec.updating && transformSpec.operations.length")
                a(class="twst-record-step-download-transfer-plan-excel" ng-click="transformSpec.getAsExcel()") Download plan in excel format
                table(class="twst-data-readout-table twst-transform-spec-preview-table")
                    tr
                        td(class="twst-data-readout-table-header") Sample Id
                        td(class="twst-data-readout-table-header") Source Plate
                        td(class="twst-data-readout-table-header") Source Well
                        td(class="twst-data-readout-table-header") Destination Plate
                        td(class="twst-data-readout-table-header") Destination Well
                        td(class="twst-data-readout-table-header") Destination Well Count  
                    tr(ng-repeat="row in transformSpec.operations")
                        td {{::row.source_sample_id}}
                        td {{::row.source_plate_barcode}}
                        td {{::row.source_well_name}}
                        td {{::row.destination_plate_barcode}}
                        td {{::row.destination_well_name}}
                        td {{::row.destination_plate_well_count}}
        div(class="twst-transform-spec-transfers-list-empty-msg") {{transformSpec.error_message}}