div(class="twst-hamilton-step")      
    div(class="twst-hamilton-step-direction")
        div(class="twst-bullet-number") 5
        div(class="twst-hamilton-step-direction-text")
            div(class="twst-hamilton-step-direction-heading") HAMILTON COMPLETION:
                div(class="twst-spinner" ng-if="finishiningRun")
            strong(class="twst-hamilton-step-direction-main" ng-bind-html="currentStepInstruction")