div(class="twst-sample-track-main twst-child-page") 
    h1 Record Step
    div(class="twst-spinner" ng-if="!stepTypeOptions")
    form(class="twst-sample-track-main-inputs" ng-show="stepTypeOptions")
        div(class="twst-sample-track-result-message")
            twst-message(message="submissionResultMessage" visible-and-valid="submissionResultVisible")
        p(class="twst-input-label-block") Step Type:
        div(class="btn-group twst-sample-track-step-options-select" dropdown)
            twst-thumb-validation-icon(validation="selectedStepType")
            button(id="single-button" type="button" class="btn btn-primary" dropdown-toggle) {{stepTypeDropdownValue}}&nbsp;
                span(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="single-button")
                li(role="menuitem" ng-repeat="option in stepTypeOptions")
                    a(ng-click="selectStepType(option)") {{option.text}}
        div(class="twst-sample-track-tranfer-toggle-controls")
            div(class="twst-custom-radio twst-selected-{{!uploadViaExcel}}" ng-click="selectedStepType ? uploadViaExcel = false : false" val="uploadViaExcel")
            span(class="twst-custom-radio-label") Use standard template
            div(class="twst-custom-radio twst-selected-{{uploadViaExcel}} twst-upload-via-excel-radio" ng-click="selectedStepType ? uploadViaExcel = true : false" val="uploadViaExcel")
            span(class="twst-custom-radio-label") Upload Excel Template
        div(class="twst-sample-track-plate-barcodes" ng-show="!uploadViaExcel")
            div(class="twst-sample-track-plate-barcodes-left")
                p(class="twst-block-header")
                    span(ng-if="destinationPlates.length") Source&nbsp;
                    span Plate Barcode{{sourcePlates.length > 1 ?'s':''}}:
                div(class="twst-sample-track-plate-row" ng-repeat="plate in sourcePlates")
                    div(class="twst-sample-track-plate-title" ng-if="plate.title" ng-bind-html="plate.title")
                    div(class="twst-sample-track-plate-input")
                        input(type="text" class="form-control" ng-model="plate.text" typeahead="barcode for barcode in getTypeAheadBarcodes($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults")
                        twst-thumb-validation-icon(validation="plate.text.length > 5")
                        i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh twst-offscreen")
                        div(ng-show="noResults" class="twst-offscreen")
                          i(class="glyphicon glyphicon-remove") No Results Found
            div(class="twst-sample-track-plate-barcodes-left")
                p(class="twst-block-header" ng-class="{'twst-invisible': !destinationPlates.length}") Destination Plate Barcode{{destinationPlates.length > 1 ?'s':''}}:
                div(class="twst-sample-track-plate-row" ng-repeat="plate in destinationPlates")
                    div(class="twst-sample-track-plate-title" ng-if="plate.title" ng-bind-html="plate.title")
                    div(class="twst-sample-track-plate-input")
                        input(type="text" class="form-control" ng-model="plate.text")
                        twst-thumb-validation-icon(validation="plate.text.length > 5")
        div(class="twst-sample-track-main-excel-upload" ng-show="uploadViaExcel")
            div(class="twst-sample-track-excel-upload-area" twst-drop-target="catchFile") Drop the excel transfer file here
            div(class="twst-sample-track-excel-upload-summary" ng-if="transferExcelAsJSON")
                h3 Excel File Pre-upload Summary:
                    

        div(class="twst-sample-track-main-buttons")
            div(class="twst-spinner twst-step-submitting-spinner" ng-if="submittingStep")
            button(class="twst-button twst-blue-button" ng-class="{'twst-disabled-button' : !sampleTrackFormReady()}" ng-click="submitStep()") Submit
            a(class="twst-sample-track-clear-btn" ng-click="clearForm()") clear form
        div(ui-view ng-if="stepTypeOptions")

