div(class="twst-plate-view" style="width:{{(plate.rowLength*30 + 5*plate.rowLength + 35)*0.65}}px;")
    div(class="twst-plate-view-header")
        strong Barcode: 
        span {{plate.plateDetails.barcode}} 
        strong Type: 
        span {{plate.plateDetails.type}} 
        strong Filled wells: 
        span {{plate.filledWellCount}}
    div(class="twst-plate-view-plate")
        svg(view-box plate="plate" xmlns="http://www.w3.org/2000/svg" ng-if="plate.wellMap")
            g
                ellipse(mouse-aware ng-repeat="well in plate.wellMap track by well.index" ry="15" rx="15" id="svg_2" well="well" ng-attr-cy="{{getY(well)}}" ng-attr-cx="{{getX(well)}}" class="twst-plate-visualizer-well twst-{{well.sampleId}}" ng-class="{'twst-filled-well': well.sampleId, 'twst-click-highlighted-well': well.highlighted}" ng-click="wellClicked(well)" tooltip-html="getTooltip(well)" tooltip-trigger tooltip-enable="well.sampleId" tooltip-animation="false" tooltip-placement="top" tooltip-append-to-body="true")