div(class="twst-transfer-plans-main twst-child-page")
    h1 Transfer Plans
    div(class="twst-transfer-plans-tabs")
        div(class="twst-tab twst-transfer-plans-main-tab" ng-click="selectPlanTab(view_manage)" ng-class="{'twst-active-tab': selectedPlanTab == view_manage}")
            div(class="twst-custom-radio twst-selected-{{selectedPlanTab == view_manage}}" val="view")
            span(class="twst-custom-radio-label") View/Manage Plans
        div(class="twst-tab twst-transfer-plans-main-tab" ng-click="selectPlanTab(edit)" ng-class="{'twst-active-tab': selectedPlanTab == edit}")
            div(class="twst-custom-radio twst-selected-{{selectedPlanTab == edit}} twst-upload-via-excel-radio" val="edit")
            span(class="twst-custom-radio-label") Create/Edit Plans
    div(class="twst-transfer-plans-body twst-tab-body" ui-view ng-show="selectedPlanTab")