div(class="twst-login-main" ng-if="googleLoginUrl")
	h3 Please Sign In
	a(href="{{googleLoginUrl}}" class="twst-button")
		img(style="height:30px; margin-right:8px;" src="/static/images/google-g-logo-2012.png")
		span Sign In