div(class="twst-hamilton-step")      
    div(class="twst-hamilton-step-direction")
        div(class="twst-bullet-number") 4
        div(class="twst-hamilton-step-direction-text")
            div(class="twst-hamilton-step-stats")
                p(class="twst-hamilton-source-plates-remaining" ng-if="scannedDestinationPlateCount < destinationPlatesNeedingScanCount") {{destinationPlatesNeedingScanCount - scannedDestinationPlateCount}} remaining
                button(class="twst-button twst-red-button twst-source-plates-start-over-button" ng-click="restartDestinationPlateScan()") restart plate scan
            div(class="twst-hamilton-step-direction-heading") SCAN DESTINATIONS:
                div(class="twst-spinner" ng-if="confirmingPlate || savingSourcesAndDestinations")
            strong(class="twst-hamilton-step-direction-main" ng-bind-html="currentStepInstruction")
            button(class="twst-button twst-blue-button twst-hamilton-source-scan-complete-button" ng-if="scannedDestinationPlateCount == destinationPlatesNeedingScanCount" ng-click="destinationPlateScanComplete()") Destination Scan Complete