### Caches and Logs
*.py[cod]
.DS_Store
.sass-cache/
.webassets-cache
pip-log.txt
test/.cache/

venv/
env

### Third-party Libraries
node_modules/
app/static/bower_components/

### Build files
app/static/css/*
app/static/exports/*
app/static/fonts/*
app/static/images/*
app/static/js/*
app/static/uploads/*
app/static/index.html
app/static/source/jade/compiled_templates/
app/static/source/js/templates.js

### IDE-specific ignores
/.idea/
/_twistdb
/sample_movement_tracker.iml
