html,
body {
  height: 100%;
}
body {
  padding-top: 80px;
  padding-bottom: 80px;
}
body section.maincontent {
  height: 100%;
  padding: 20px;
}
body section.maincontent div.mainbuttons {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  text-align: right;
}
body section.maincontent div.mainbuttons button {
  margin-right: 10px;
}
body section.maincontent form {
  margin-bottom: 40px;
}
body section.maincontent form div.buttonsholder {
  text-align: right;
}
body section.maincontent form div.buttonsholder button {
  margin-left: 10px;
}
