/** reset css **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** END reset css **/


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* CONSTANTS, MIXINS, ETC
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
$twst-brown-black: #404041;
$max-app-width: 1180px;
$twst-minty-green: #dbffec;
$twst-darker-green: #337251;
$twst-medium-green: #80af97;
$twst-dark-red: #7c0e0e;
$twst-light-red: #ead3d3;
$twst-minty-green-bg: #c7ddd2;
$twst-selected-blue: #1893E2;
$twst-dark-red: #990000;
$twst-common-border: 1px solid #aaa;

@mixin after-clear {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin twst-button-basic {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.5em 0.75em;
    border: 1px solid $twst-brown-black;
    opacity: 0.85;
    color: #444;
    outline: none;

    &:hover {
        opacity: 1;
        text-decoration: none;
        color: #000;
    }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin flipV {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    ms-transform: scaleY(-1);
}

@mixin flipH {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    ms-transform: scaleX(-1);
}

@mixin flipBoth {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    ms-transform: scale(-1, -1);
}

@mixin validThumbIcon {
    -moz-transform: scaleY(-1) translate(0, 0.2em);
    -o-transform: scaleY(-1) translate(0, 0.2em);
    -ms-transform: scaleY(-1) translate(0, 0.2em);
    -webkit-transform: scaleY(-1) translate(0, 0.2em);
    transform: scaleY(-1) translate(0, 0.2em);
}

@mixin bootstrapOverride {
    /****************************************/
    /* override bootstrap styles */
    /****************************************/

    .btn, .dropdown-menu {
        font-size: 1.2em;
    }

    .btn-primary {
        background-color: #fff;
        color: #000;
        border-color: #ddd;
    }

    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        color: #000;
        background-color: $twst-minty-green;
        border-color: #ddd;
    }

    .btn-primary:hover {
        background-color: $twst-minty-green;
    }

    /****************************************/
    /* end override bootstrap styles */
    /****************************************/
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* BASIC ELEMENTS
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/


html {
    height: 100%;
    min-height: 100%;
}

body {
  min-height: 100%;
  font-size: 1em;
  font-family: Helvetica, Arial, Verdana, sans serif;
}

.twst-text-center {
    text-align:center;
}

.twst-offscreen {
    position: absolute;
    left: -20000px;
}

.twst-clickable {
    cursor: pointer;
}

.twst-invisible {
    visibility: hidden;
}

.twst-block-header {
    margin-bottom: 0.3em;
    color: #aaa;    
}

strong {
    font-weight: bold;
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* CUSTOM STYLES
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
.twst-button {
    @include twst-button-basic;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbffec+0,dbffec+52,75a089+100 */
    background: #dbffec; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbffec 0%, #dbffec 52%, #75a089 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbffec), color-stop(52%,#dbffec), color-stop(100%,#75a089)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbffec 0%,#dbffec 52%,#75a089 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbffec 0%,#dbffec 52%,#75a089 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbffec 0%,#dbffec 52%,#75a089 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbffec 0%,#dbffec 52%,#75a089 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbffec', endColorstr='#75a089',GradientType=0 ); /* IE6-9 */
}

.twst-blue-button {
    @include twst-button-basic;
    &:hover {
        color: #fff;
    }
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3e4ed+0,157ad8+33,157ad8+100 */
    background: #d3e4ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3e4ed 0%, #157ad8 33%, #157ad8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3e4ed), color-stop(33%,#157ad8), color-stop(100%,#157ad8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3e4ed 0%,#157ad8 33%,#157ad8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3e4ed 0%,#157ad8 33%,#157ad8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3e4ed 0%,#157ad8 33%,#157ad8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d3e4ed 0%,#157ad8 33%,#157ad8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e4ed', endColorstr='#157ad8',GradientType=0 ); /* IE6-9 */
}

.twst-red-button {
    @include twst-button-basic;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdbdb+0,ffdbdb+40,c17b76+100 */
    background: #ffdbdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffdbdb 0%, #ffdbdb 40%, #c17b76 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdbdb), color-stop(40%,#ffdbdb), color-stop(100%,#c17b76)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffdbdb 0%,#ffdbdb 40%,#c17b76 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffdbdb 0%,#ffdbdb 40%,#c17b76 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffdbdb 0%,#ffdbdb 40%,#c17b76 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffdbdb 0%,#ffdbdb 40%,#c17b76 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbdb', endColorstr='#c17b76',GradientType=0 ); /* IE6-9 */
}

.twst-disabled-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,7f7f7f+33,7f7f7f+100 */
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #7f7f7f 33%, #7f7f7f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(33%,#7f7f7f), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#7f7f7f 33%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5e5e5 0%,#7f7f7f 33%,#7f7f7f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5e5e5 0%,#7f7f7f 33%,#7f7f7f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5e5e5 0%,#7f7f7f 33%,#7f7f7f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    cursor: default;
    opacity: 0.7;


    &:hover {
        opacity: 0.7;
    }

    &:focus {
        outline: none;
    }
}

.twst-disabled-link {
    cursor: default;
    color: #aaa;

    &:hover {
        color: #aaa;
        text-decoration: none;
    }
}

.twst-thumbs-validation-icon {
    display: inline-block;

    &.twst-thumbs-validation-icon-valid {
        @include validThumbIcon;

        &:hover {
            .twst-thumbs-validation-error {
                display: none;
            }
        }

        svg {
            path {
                fill: #5caa5e;
            }
        }
    }

    &.twst-thumbs-validation-icon-error {
        cursor: pointer;

        &:hover {
            .twst-thumbs-validation-error {
                display: inline-block;
                visibility: visible;
                opacity: 1;
            }
        }

        svg {
            path {
                fill: #933030;
            }
        }
    }

    svg {
        width: 1em;
        height: 0.965em;

        path {
            fill: #eee;
        }
    }

    .twst-thumbs-validation-error {
        position: absolute;
        margin-top: 0.1em;
        opacity: 0;
        width: 400px;
        visibility: hidden;
        right: 2.1em;
        font-size: 0.5em;
        background-color: $twst-light-red;
        padding: 0.3em 0.5em;
        border-radius: 0.3em;
        @include transition(opacity .3s ease);
    }

}

/******************************/
/*** SPINNER ***/
/******************************/

.twst-spinner {
    position: relative;
    margin: 0 auto;
    display: block;
}

.twst-spinner-blocks {
    position: relative;
    display: table;
    line-height: 1.2em;
    font-size: 1.2em;
    margin: 0 auto;
    width:3.6em;
}

.twst-reversed-spinner {
    .twst-spinner-block-outer > span {
        background-color: #C9EAFF;
    }
}

.twst-spinner-block-outer {
    position: relative;
    display: table-cell;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    text-align: center;
    border-right: 0.1em solid transparent;
    border-left: 0.1em solid transparent;

    > span {
        position: relative;
        display: block;
        width:100%;
        height:100%;
        background-color: #008FE8;
        border-radius: 0.2em;
        margin: 0 auto;
    }
}

.twst-spinner-view-load {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 45%;
}

.twst-spinner-blocker {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    top: 35%;
}

.twst-tiny-spinner, .twst-tiny-spinner-right, .twst-tiny-spinner-abs {
    font-size: 0.4em;
    top: 1.2em;
}

.twst-spinner.twst-tiny-spinner-right {
    float: right;
}

.twst-spinner.twst-tiny-spinner-invite-banner {
    font-size: 0.6em;
}

.twst-spinner.twst-tiny-spinner-abs {
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 0.6em;
}

.twst-data-readout-table {

    tr:first-child {
        td {
            border-top: $twst-common-border; 
        }
    }

    td {
        padding: 0.5em 0.75em;
        border-right: $twst-common-border;
        border-bottom: $twst-common-border;

        &:first-child {
            border-left: $twst-common-border;
        }

        &.twst-data-readout-table-header {
            background-color: #ddd;
        }
    }
}

.twst-greyed-row {
    td {
        background-color: #eee;
    }
}


/******************************/
/*** END SPINNER ***/
/******************************/

.twst-message {
    border-radius: 0.3em;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0.5em;
    opacity: 0;
    @include transition(opacity .3s ease);

    .twst-message-text:before {
        content: '\00a0 \00a0 ';
    }

    &.twst-message-visible {
        opacity: 1;
    }

    &.twst-success {
        background: $twst-minty-green;
        color: $twst-darker-green;
        border: 1px solid $twst-darker-green;
        .twst-message-text:before {
            content: '\2713';
        }
    }

    &.twst-error {
        background: $twst-light-red;
        color: $twst-dark-red;
        border: 1px solid $twst-dark-red;

        .twst-message-text:before {
            content: '\2717';
        }
    }

    .twst-message-text:before {
        font-size: 2em;
        line-height: 0.1em;
        top: 0.2em;
        position: relative;
        margin-right: 0.15em;
    }

    span.twst-step-text {
        color: #000;
        font-weight: bold;
    }
}

.twst-child-page {
    padding-top: 2em;
    
    h1 {
        font-size: 2em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em;
    }

    input {
        font-size: 1.2em;
        padding: 1em 0.5em;
    }

}

.twst-field-value-readout {
    font-size: 1.2em;
    color: #000;
}

.twst-data-label {
    color: #777;
}

.twst-1em-top-margin {
    margin-top: 1em !important;
}

.twst-2em-top-margin {
    margin-top: 2em !important;
}

/**********************************************************************************************************/
/*** CUSTOM RADIO ***/
/**********************************************************************************************************/

/* also covers custom checkbox */

.twst-custom-radio {
    position: relative;
    display: inline-block;
    border: 2px solid #979797;
    border-radius: 50%;
    width: 0.6em;
    height: 0.6em;
    font-size: 2em;
    margin-right: 0.25em;
    cursor: pointer;

    &.twst-custom-radio-as-checkbox {
        border-radius: 0;
        line-height: 1em;

        div {
            border-radius: 0;
            font-size: 0px;
            line-height: 0em;

            svg {
                position: absolute;
                top: 0px;
                left: 0px;
            }

        }

        &:hover, &.twst-focused-true {
            background-color: #fff;
        }

        &:hover {
            .twst-custom-checkbox-x {
                stroke: #ddd;
            }
        }

        &.twst-selected-true, &.twst-selected-true:hover {
            background-color: #fff;

            .twst-custom-checkbox-x {
                stroke: $twst-selected-blue;
            }
        }
    }

    div {
        position: relative;
        display: block;
        border-radius: 50%;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
            display: block;
            font-size: 0.01em;
            visibility: hidden;
            left: -20000px;
        }
    }

    &:hover, &.twst-focused-true {
        background-color: #eee;
    }

    &.twst-focused-true {
        outline: 1px;
    }

    &.twst-selected-true, &.twst-selected-true:hover {
        background-color: $twst-selected-blue;
    }

    &.twst-focused-true {
        box-shadow: 0px 0px 3px 0px $twst-selected-blue;
    }
}

/*****************************/
/*** END CUSTOM RADIO ***/
/*****************************/

/*****************************/
/*** TABS ***/
/*****************************/

.twst-tab {
    display: block;
    float: left;
    padding: 0.5em 1em;
    border: $twst-common-border;
    border-radius: 0.5em 0.5em 0 0;
    position: relative;
    top: 1px;
    margin-right: 0.3em;
    cursor: pointer;
    color: #aaa;

    &:hover {
        color: #000;
    }

    &.twst-active-tab {
        color: #000;
        border-bottom-color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbffec+0,ffffff+68 */
        background: #dbffec; /* Old browsers */
        background: -moz-linear-gradient(top,  #dbffec 0%, #ffffff 68%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbffec), color-stop(68%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #dbffec 0%,#ffffff 68%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #dbffec 0%,#ffffff 68%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #dbffec 0%,#ffffff 68%); /* IE10+ */
        background: linear-gradient(to bottom,  #dbffec 0%,#ffffff 68%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbffec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .twst-custom-radio-label {
        position: relative;
        top: -0.2em;
    }
}

.twst-tab-body {
    padding: 1em;
    border: $twst-common-border;
    border-radius: 0 .5em 0.5em 0.5em;
}

/*****************************/
/*** END TABS ***/
/*****************************/

/**********************************/
/*** TRANSFER PLANNER FORM ***/
/**********************************/

.twst-record-step-form {

    @include bootstrapOverride;

    .twst-record-step-plate-barcodes {
        display: none;
        width: 100%;
        margin-top: 1.5em;

        .twst-record-step-plate-barcodes-left, .twst-record-step-plate-barcodes-right {
            display: table-cell;
            width: 50%;
            padding-right: 2em;

            &:first-child {
                 padding-right: 4em;
            }

            &:last-child {
                padding-left: 2em;
            }

            .twst-add-plate-button {
                cursor: pointer;
                opacity: 0.8;
                margin-top: 0.3em;
                display: inline-block;

                &:hover {
                    opacity: 1;
                }
                .twst-blue-button {
                    padding: 0 0.2em;
                    font-size: 1em;
                    line-height: 1em;
                    margin-right: 0.3em;
                }

                span {
                    position: relative;
                    top: 0.1em
                }
            }

            .twst-record-step-plate-row {
                display: table;
                width: 100%;
                position: relative;
                margin-top: 0.3em;

                &:first-child {
                    margin-top: 0;
                }

                .twst-record-step-plate-title, .twst-record-step-plate-input {
                    display: table-cell;
                    vertical-align: middle;
                }

                .twst-record-step-plate-input {
                    width: 100%;

                    .twst-plate-data-loading-spinner {
                        position: absolute;
                        right: 1em;
                        font-size: 0.65em;
                        top: 1.3em;
                    }

                    .twst-remove-plate-button {
                            position: absolute;
                            right: 0.5em;
                            font-size: 1em;
                            top: 0.75em;
                            opacity: 0.8;
                            cursor: pointer;

                        svg {
                            height: 1em;

                            g {
                                fill: #ccc;
                            }
                        }

                        &:hover {
                            opacity: 1;

                            svg {
                                g {
                                    fill: $twst-dark-red;
                                }
                            }
                        }
                    }
                }

                .twst-thumbs-validation-icon {
                    margin-left: 0.3em;
                    position: absolute;
                    right: -1.3em;
                    top: 0.15em;
                    font-size: 2em;
                }
            }
        }
    }

    .twst-record-step-main-excel-upload {
        display: none;
        width: 100%;
        margin: 1.5em auto;

        .twst-record-step-excel-upload-area, .twst-record-step-excel-upload-summary {
            display: table-cell;
            width: 50%;
            vertical-align: top;
        }

        .twst-record-step-excel-upload-area {
            padding: 3em;
            text-align: center;
            border: 5px dotted $twst-medium-green;

            &.twst-file-drag-over {
                background-color: $twst-minty-green;
            }

            .twst-thumbs-validation-icon {
                display: block;
                margin: 0.3em auto 0 auto;
                font-size: 2.2em;
            }
        }

        .twst-record-step-excel-upload-summary {
            padding-right: 1em;

            h3 {
                color: $twst-darker-green;
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 1em;
            }

            p {
                margin: 0.75em 0;
            }

            .twst-record-step-excel-upload-summary-row-count-item {
                 margin-left: 0.5em;

                li {
                    margin-top: 0.5em;
                    margin-left: 1em;
                    list-style-type: disc;
                }

            }

            .twst-record-step-excel-upload-summary-errors {
                background-color: #efd5d5;
                padding: 0.5em;
                border-radius: 0.3em;
                margin-top: 1em;

                h3 {
                    color: $twst-dark-red;
                    margin-bottom: 0;
                }

                ul {
                    margin-left: 0.5em;

                    li {
                        margin-top: 0.5em;
                        margin-left: 1em;
                        list-style-type: disc;
                    }
                }
                
            }

            .twst-record-step-excel-upload-summary-ok {
                padding: 0.5em;
                border-radius: 0.3em;
                margin-top: 1em;
                background: $twst-minty-green-bg;
                display: inline-block;
            }
        }
    }

    .twst-transform-spec {
        margin-top: 2em;
        position: relative;

        .twst-transform-spec-show-btn, .twst-transform-spec-sources-show-btn {
            display: inline-block;
            font-size: 1.2em;
            cursor: pointer;

            .twst-custom-radio {
                top: 0.1em;
            }
        }

        .twst-transform-spec-transfers-list {
            .twst-record-step-download-transfer-plan-excel {
                    position: absolute;
                    top: 0.5em;
                    left: 20em;
                    display: inline-block;
                    cursor: pointer;
            }

            .twst-transform-spec-preview-table {
                margin: 1em auto 0 auto;
            }
        }

        .twst-transform-spec-transfers-list-empty-msg, .twst-transform-spec-sources-empty-msg {
            margin-top: 1em;
            color: $twst-dark-red;
        }

        .twst-transform-spec-sources-data-container {
            width: 100%;
            overflow: auto;
            padding-bottom: 0.5em;
            margin-top: 1em;

            &.twst-transform-spec-sources-data-container-data-loaded {
                height: 400px;
            }

            .twst-transform-spec-sources-data-table {
                

            }
        }

    }

    &.twst-transform-template-25 {
        .twst-record-step-plate-barcodes {
            .twst-record-step-plate-barcodes-right {
                .twst-record-step-plate-row {
                    .twst-record-step-plate-title, .twst-record-step-plate-input {
                        display: block;
                    }

                    .twst-record-step-plate-input {
                        .twst-remove-plate-button {
                                top: 1.75em;
                        }
                    }

                    .twst-thumbs-validation-icon {
                        top: 0.75em;
                    }
                }
            }
        }
    }

}

/**********************************/
/*** END TRANSFER PLANNER FORM ***/
/**********************************/

/**********************************/
/*** MODAL ***/
/**********************************/

.modal-content {
    border-radius: 0.5em;
}

.twst-modal {

    .twst-modal-header {
        display: block;
        width: 100%;
        padding: 0.5em 1em;
        background-color: $twst-minty-green-bg;
        border-radius: 0.5em 0.5em 0 0;

        h2 {
            font-size: 1.5em;
        }
    }

    .twst-modal-body {
        padding: 1em 0 0 1em;

        .twst-modal-message {
            font-size: 1.2em;
        }
    }

    .twst-modal-footer {
        padding: 1em;

        .twst-modal-buttons {
            &:after {
                @include after-clear;
            }

            button {
                float: right;
            }

            .twst-cancel-button {
                position: relative;
                top: 0.6em;
                margin-right: 1em;
            }

            .twst-delete-button {
                font-size: 1.3em;
            }
        }
    }
}

/**********************************/
/*** END MODAL ***/
/**********************************/

/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* HEADER
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-header {
    background-color: $twst-brown-black;
    padding: 0.5em;
    display: table;
    width: 100%;

    &:after {
        @include after-clear;
    }

    .twst-header-inner {
        margin: 0 auto;
        max-width: $max-app-width;

        .twst-header-logo-image, .twst-header-title, .twst-header-user-info {
            display: table-cell;
            vertical-align: middle;
        }

        .twst-header-logo-image {
            position: relative;
            float: left;
            height: 4em;
            width: 8.67em;
            margin-right: 2em;
        }

        .twst-header-title {
            font-size: 2em;
            color: #fff;
            width: 100%;
        }

        .twst-header-user-info {
            min-width: 15em;
            color: #fff;
            margin-right: 0.25em;
            text-align: right;
        }

        .twst-button {
            border: 0;
        }

        .twst-logout-button {
            margin-top: 0.25em;
        }
    }
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* MAIN NAV
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-main-nav {
    display: block;
    width: 100%;
    background-color: $twst-minty-green-bg;

    .twst-main-nav-inner {
        display: table;
        width: 100%;
        margin: 0 auto;
        max-width: $max-app-width;

        a {
            display: table-cell;
            width: 16.667%;
            text-align: center;
            font-size: 1.1em;
            padding: 0.45em 0;
            color: #000;

            &:hover {
                cursor: pointer;
                text-decoration: none;
                background-color: $twst-medium-green;
            }

            &.twst-nav-selected {
                color: #fff;
                background-color: $twst-darker-green;
            }
        }
    }
}

/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* MAIN BODY
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-main-body {
    padding: 1em 1em 2em 1em;
    margin: 0 auto;
    max-width: $max-app-width;
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* FOOTER
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-main-footer {
    position: fixed;
    bottom: 0px;
    height: 2em;
    min-height: 2em;
    line-height: 2em;
    font-size: 0.8em;
    color: #555;
    text-align: center;
    width: 100%;
    background-color: $twst-minty-green-bg;
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* LOGIN
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-login-main {
    text-align: center;

    h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* SAMPLE TRACK
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-record-step-main {

    .twst-record-step-main-download-link {
        position: relative;
        float: right;
        position: relative;
        top: 1em;
    }

    .twst-message {
        margin-bottom: 1em;
    }

    .twst-record-step-result-message {
        position: relative;
        float: right;
        max-width: 50%;
    }

    .twst-record-step-transfer-toggle-controls {
        display: block;
        clear: both;
        font-size: 1.2em;
        margin-top: 1.5em;

        &:after {
            @include after-clear;
        }
    }

    .twst-record-step-main-inputs {
        padding: 0 2em;
        position: relative;
    }

    .twst-record-step-main-buttons {
        margin-top: 2em;
        position: relative;

        .twst-spinner {
            position: absolute;
            font-size: 0.7em;
            top: -1.4em;
            left: 0.3em;
            width: 7.5em;
            z-index: 10;
        }

        .twst-blue-button {
            font-size: 1.2em;
        }

        .twst-record-step-clear-btn {
            margin-left: 2em;
            cursor: pointer;
        }

    }

    @include bootstrapOverride;

    .twst-record-step-step-options-select {

        .twst-thumbs-validation-icon {
            margin-left: 0.3em;
            position: relative;
            top: 0.15em;
            font-size: 2em;
        }

        a {
            display: block;
            cursor: pointer;
        }

    }

    .twst-transform-spec-barcodes-mode .twst-record-step-plate-barcodes,
    .twst-transform-spec-file-mode .twst-record-step-main-excel-upload {
        display: table;
    }

}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* EDIT BARCODE
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-edit-barcode-main {
    
    .twst-edit-barcode-main-inputs {
        display: table;
        width: 100%;
        padding: 0 2em;
        position: relative;

        .twst-edit-barcode-main-inputs-left, .twst-edit-barcode-main-inputs-right {
            display: table-cell;
        }

        .twst-edit-barcode-main-inputs-left {
            width: 40%;
            min-width: 300px;

            .twst-message {
                margin-top: 1em;

                .twst-message-text {
                    line-height: 1.4em;
                }
            }
        }

        .twst-edit-barcode-main-inputs-right {
            width: 60%;
            padding-left: 3em;

            .twst-fetching-plate-for-barcode-edit-spinner {
                float: left;
                top: 2.25em;
            }

            .twst-field-value-readout {
                margin-bottom: 2em;
                padding: 0.25em 0.5em 0 0.5em;
            }

            .twst-edit-barcode-main-barcode-controls {


                .twst-barcode-input-elements {
                    position: relative;

                    .twst-edit-barcode-main-barcode-input {
                        width: 50%;
                        display: inline-block;
                    }

                    .twst-thumbs-validation-icon {
                        margin-left: 0.2em;
                        position: relative;
                        top: 0.35em;
                        font-size: 2em;
                    }

                    .twst-barcode-submitting-spinner {
                        position: absolute;
                        top: 2em;
                        left: 40%;
                        font-size: 0.6em;
                    }

                }

                .twst-update-barcode-buttons {
                    margin-top: 1em;

                    button {
                        font-size: 1.2em;
                    }

                    .twst-update-barcode-cancel {
                        margin-left: 1em;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* VIEW STEPS
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-view-steps-main {
    
    .twst-plate-steps-rows {
        padding: 0 2em;

        .twst-plate-steps-row {
            width: 100%;

            td {
                padding: 0.5em 0 0.5em 0.5em;
            }
        }
    }
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* PLATE DETAILS
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-plate-details-main {
    
    .twst-plate-details-main-inputs {
        display: table;
        width: 100%;

        padding: 0 2em;

        input {
            width: 20em;
            display: inline-block;
        }

        .twst-thumbs-validation-icon {
            margin-left: 0.3em;
            position: relative;
            top: 0.3em;
            font-size: 2em;
        }

        .twst-blue-button {
            font-size: 1.2em;
            outline: none;
            margin-left: 2em;
        }

        .twst-download-excel-link {
            margin-left: 2em;
        }

        .dropdown-menu {
            font-size: 1.2em;
        }

        .twst-plate-details-display {
            margin-top: 2em;

            h2 {
                font-size: 1.4em;
                border-bottom: 1px solid $twst-darker-green;

                strong {
                    color: $twst-darker-green;
                }
            }

            .twst-spinner {
                top: 0.3em;
            }

            .twst-plate-details-readout {
                margin-top: 1.5em;

                .twst-plate-details-readout-tables {
                    display: table;
                    width: 100%;

                    .twst-plate-details-readout-left, .twst-plate-details-readout-right {
                        display: table-cell;
                        width: 50%;
                    }

                    .twst-plate-details-readout-left {
                        padding-right: 1em;
                    }

                    .twst-plate-details-readout-right {
                        padding-left: 1em;
                    }

                    .twst-plate-details-block {
                        margin-top: 1.5em;
                    }
                }

            }
        }
    }
}


/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******* TRANSFER PLANS
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/
/******************************************************************************************************************************************************/

.twst-transform-specs-main {

    .twst-transform-specs-tabs {
        display: block;
        clear: both;
        font-size: 1.2em;

        &:after {
            @include after-clear;
        }
    }

    .twst-transform-specs-body {
        .twst-view-manage-transform-specs-main {

            &:after {
                @include after-clear;
            }

            h3 {
                font-size: 1.2em;
            }

            .twst-message {
                margin-top: 0.5em;
                position: relative;
                float: right;
                max-width: 75%;
                display: inline-block;
            }

            .twst-transform-specs-list {
                position: relative;
                margin-top: 0.5em;

                .twst-empty-transform-specs-message {
                    button {
                        margin-left: 1em;
                    }
                }
            }

            .twst-view-transform-spec-main {
                position: relative;

                .twst-spinner {
                    position: absolute;
                    left: 45%;
                    font-size: 0.9em;
                    top: 1em;
                }

                .twst-return-spec-list-btn {
                    float: right;
                    top: -0.3em;
                }

                h2 {
                    font-size: 1.4em;
                    color: #666;
                    margin-top: 0.1em;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 0.5em;

                    span {
                        font-weight: bold;
                        color: #000;
                    }
                }

                .twst-view-transform-spec-details {
                    font-size: 1.1em;
                    margin: 0 1em;

                    p {
                        margin: 0.75em 0;
                    }

                    .twst-view-transform-spec-sources-destinations {
                        display: table;
                        width: 70%;

                        p {
                            margin-top: 0;
                        }

                        > div {
                            display: table-cell;
                            vertical-align: top;
                            width: 50%;

                            ul {
                                li {
                                    margin-left: 1.5em;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    h3 {
                        font-size: 1.1em;
                        margin-top: 1em;
                    }

                    .twst-blue-button {
                        float: right;
                    }

                    .twst-transform-spec-preview-table {
                        margin-top: 1em;
                    }
                }
            }
        }
    }

    .twst-view-manage-transform-specs-main {
        .twst-view-manage-transform-specs-new-button {
            margin-top: 1em;
        }

        .twst-spinner {
            position: absolute;
            left: 45%;
            font-size: 0.8em;
            margin-top: -1em;
        }
    }

    .twst-create-edit-transfer-plans-main {
        @include bootstrapOverride;
    }

    .twst-record-step-plate-barcodes {
        display: table;
    }
    
}