
<!DOCTYPE html>
<html lang="en">
   <head>
      
      <base href="{{ url_for('home', _external=True) }}" />
      <!--
      <base href="{{ url_for('home', _external=True) }}" />
   -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" name="viewport" />
      <meta name="title" content="Twist Bioscience" />
      <meta name="description" content="Helping you change the world
         by providing synthetic DNA for health and sustainability" />
      <meta name="keywords" content="synthetic dna, biodetection, functional genomics, genome engineering, drugs, biodefense, data storage, mission bay, san francisco" />

 <!--
      <meta name="google-signin-client_id" 
         content="1093207984325-qhls4ec361elichdn0vfno05u0r7r256.apps.googleusercontent.com">
 -->

      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <title>Twist Bioscience</title>


<!--
      <script src="//apis.google.com/js/platform.js" async defer></script>
 -->

      <!--
      <script src="//use.typekit.net/omi0zjp.js" type="text/javascript"></script>
   -->
      <!-- was <script src="http://use.typekit.net/omi0zjp.js" type="text/javascript"></script> -->
      <!--
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      -->

<script src="//use.typekit.net/omi0zjp.js"></script>
<script>try{ Typekit.load();}catch(e){ }</script>

<link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

<link href='//fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>

{% assets "common_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}







{% block page_specific_css %}{% endblock %}


      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="{% block page_id %}{% endblock %}">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" style="">

         
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="{{ url_for('home') }}" title="Twist Bioscience"><img src="{{ url_for('static', filename='images/twist.png') }}"/><span>Twist Bioscience</span></a>
               <h1 style="">Sample Movement Tracker{% block page_title_suffix %}{% endblock %}</h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
               
              
            </div>
            

         </div>
      

          <div id="loginlogout" class="hidden">
             <form action="{{ url_for('logout') }}" method="post" target="_self" >
                 <button type="submit" class="btn btn-link">Log Out</button>
             </form>
          </div>

      </nav>



{% block page_main_content %}{% endblock %}


{% block page_specific_hidden_inputs %}{% endblock %}


 
{% assets "common_js" %}
 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


{% block page_specific_js %}{% endblock %}

{% block handlebars_templates %}{% endblock %}

<script>
var GlobalData = {
{% block inline_json_data %}
{% endblock %}
};
</script>



   </body>
</html>

