{% extends "basetemplate.html" %}


{% block page_specific_css %}
      {% assets "index_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
      {% endassets %}


{% endblock %}

{% block page_specific_js %}
      {% assets "index_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
{% endblock %}

{% block page_id %}recordSampleTransform{% endblock %}

{% block page_main_content %}




{% raw %}
<script id="tableRowTemplate" type="text/x-handlebars-template">
   <tr>
      <td>{{sourcePlateBarcode}}</td>
      <td>{{sourceWellId}}</td>
      <td>{{sourceColAndRow}}</td>
      <td>{{destinationPlateType}}</td>
      <td>{{destinationPlateBarcode}}</td>
      <td>{{destinationWellId}}</td>
      <td>{{destinationColAndRow}}</td>
   </tr>
</script>
{% endraw %}


<input id="dragndropurl" type="hidden" value="{{ url_for('dragndrop') }}" />
<input id="createSampleMovementUrl" type="hidden" value="{{ url_for('create_sample_movement') }}" />
<input id="getSampleBarcodesListUrl" type="hidden" value="{{ url_for('get_sample_plate_barcodes_list') }}" />



<section class="maincontent">


    <form>
        <legend>Record Sample Transform</legend>

      <div class="form-group">
        <label for="exampleInputEmail1">Sample Transform Task Type</label>

<div id="sampleTransformTypeDropDown" class="dropdown">

   <input class="selectedItemId" type="hidden" />
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="label">What type of transform task are you performing?</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

{% for sample_transform_type in sample_transform_types %}
   <li data-sample-transform-type-id="{{sample_transform_type.id}}"><a href="JavaScript:void(0);">{{sample_transform_type.name}}</a></li>
{% endfor %}



  </ul>

</div>

      </div>
      <div id="simplemovefields" class="form-group">
        <label for="exampleInputPassword1" style="display:block;">Source Plate Barcode</label>
        <label style="position:absolute; top:0px; left:50%;">Destination Plate Barcode</label>
        <input type="text" class="form-control" id="sourceBarcodeId" style="float:left; width:49%; margin-right:1%;">
        <input type="text" class="form-control" id="destinationBarcodeId" style="float:left; width:50%;">
        <br style="clear:both;"/>
      </div>
      <div id="dragndropmovefields" class="form-group">
         <em>- or -</em>

         <div id="dropzone">
            Drop your sample transform description file here.
         </div>



         <table id="spreadsheet" class="hidden table table-bordered">
            <thead>
                <tr>
                    <td>Source Plate Barcode</td>
                    <td>Source Well Id</td>
                    <td>Source Col &amp; Row</td>
                    <td>Destination Plate Type</td>
                    <td>Destination Plate Barcode</td>
                    <td>Destination Well Id</td>
                    <td>Destination Col &amp; Row</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
         </table>

      </div>


      <div class="form-group buttonsholder">

         <button type="button" class="reset btn btn-default btn-lg">Reset</button>
         <button type="button" class="submit btn btn-primary btn-lg">Submit</button>

      </div>

    </form>




</section>

{% include "error_popup.html"  %}


{% endblock %}
