{% extends "basetemplate.html" %}


{% block page_specific_css %}
      {% assets "plateReport_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
      {% endassets %}


{% endblock %}

{% block page_specific_js %}
      {% assets "plateReport_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
{% endblock %}

{% block page_id %}plateDetails{% endblock %}
 
{% block page_main_content %}


{% raw %}
<script id="parentPlateRowTemplate" type="text/x-handlebars-template">
   <tr>
      <td><a href="{{plateReportUrl}}" >{{plateBarcode}}</a></td>
      <td>{{plateCreationDateTime}}</td>
   </tr>
</script>
<script id="wellRowTemplate" type="text/x-handlebars-template">
   <tr>
      <td>{{wellId}}</td>
      <td>{{column}}</td>
      <td>{{row}}</td>
      <td><a href="{{sampleReportUrl}}" >{{sampleId}}</a></td>
   </tr>
</script>
{% endraw %}


<input id="getPlateReportUrl" type="hidden" value="{{ url_for('plate_report', sample_plate_barcode='0') }}" />

<input id="getSampleBarcodesListUrl" type="hidden" value="{{ url_for('get_sample_plate_barcodes_list') }}" />

<input id="plateReportUrl" type="hidden" value="{{ url_for('plate_report_page', plate_barcode='0') }}" />


<input id="sampleReportUrl" type="hidden" value="{{ url_for('sample_report_page', sample_id='0') }}" />



<section class="maincontent">


    <form>
        <legend>Plate Details Report</legend>


      <div class="form-group search" style="position:relative;">
        <label for="exampleInputPassword1" style="display:block;" >Plate Barcode</label>
        <input type="text" class="form-control" id="barcode"
          value="{% if plate_barcode is defined and plate_barcode is not none %}{{ plate_barcode }}{% endif %}"
          style="float:left; width:80%;" autocomplete="off" >
        <button id="clearSearch" type="button" class="btn btn-default btn-sm" 
        style="position:absolute; bottom:3px; left:76%; color:#ccc; border:none; background:transparent;">&times</button>
        <button id="search" class="btn btn-primary" style="float:left; width:18%; margin-left:2%;" 
          type="submit">Show Report</button>

        <br style="clear:both;"/>

      </div>

      <div>

         <div class="form-group parentPlates hidden">
           <label for="exampleInputPassword1" style="display:block;" >Parent Plates</label>
           <table  class="table table-borderedd">
              <thead>
                  <tr>
                      <td>Plate Barcode</td>
                      <td>Plate Creation Date</td>
                  </tr>
              </thead>   
              <tbody>
                  <tr>
                      <td>ccccccc1234</td>
                      <td>12-12-15</td>
                  </tr>
              </tbody>
           </table>
         </div>


         <div class="form-group wells hidden">
           <label for="exampleInputPassword1" style="display:block;" >Plate Content - Wells</label>
           <table  class="table table-borderedd">
              <thead>
                  <tr>
                      <td>Well Id</td>
                      <td>Column</td>
                      <td>Row</td>
                      <td>Sample Id</td>
                  </tr>
              </thead>   
              <tbody>
                  <tr>
                      <td>14</td>
                      <td>A</td>
                      <td>3</td>
                      <td>asdfasdfasdf</td>
                  </tr>
              </tbody>
           </table>
         </div>



      </div>

  <!--

  {
   "status": "disposed",
   "sample_plate_id": "SPLT_5487897279930593d6805acc",
   "storage_location": "OPEN: CHIP LAB",
   "external_barcode": null,
   "name": "SRN_000180 OEX Plate 3",
   "description": "SRN_000180 Oligo Extraction Plate: 3",
   "sample_plate_type": "30 well, plastic (Twist NW)"
}

-->


    </form>




</section>

{% include "error_popup.html"  %}
{% include "barcode_updated_popup.html"  %}

{% endblock %}

      
