{% extends "basetemplate.html" %}


{% block page_specific_css %}
      {% assets "viewSampleTransfers_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
      {% endassets %}
{% endblock %}

{% block page_specific_js %}
      {% assets "viewSampleTransfers_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
{% endblock %}

{% block page_id %}viewSampleTransfers{% endblock %}
 
{% block page_main_content %}


<!--
   "source_plate_barcode":worksheet.cell_value(curr_row,0),
                "source_well_id":worksheet.cell_value(curr_row,1),
                "source_col_and_row":worksheet.cell_value(curr_row,2),
                "destination_plate_type_name":worksheet.cell_value(curr_row,3),
                "destination_plate_barcode":worksheet.cell_value(curr_row,4),
                "destination_well_id":worksheet.cell_value(curr_row,5),
                "destination_col_and_row":worksheet.cell_value(curr_row,6)
-->




<input id="dragndropurl" type="hidden" value="{{ url_for('dragndrop') }}" />
<input id="createSampleMovementUrl" type="hidden" value="{{ url_for('create_sample_movement') }}" />
<input id="getSampleBarcodesListUrl" type="hidden" value="{{ url_for('get_sample_plate_barcodes_list') }}" />



<section class="maincontent">

         <table id="spreadsheet" class="table table-bordered">
            <thead>
                <tr>
                    <td>Database Id</td>
                    <td>Transfer Type</td>
                    <td>Date</td>
                    <td>By (operator)</td>
                    <td>From Plate</td>
                    <td>To Plate</td>
                </tr>
            </thead>   
            <tbody>
{% set current_sample_transfer_id = 0 %}
{% for sample_transfer, details in sample_transfer_details %}

{% if current_sample_transfer_id != sample_transfer.id and current_sample_transfer_id != 0 %}
   <tr>
     <td colspan="6" style="line-height:6px; height:6px; background-color:#f9f9f9;">&nbsp;</td>
   </tr>
{% endif %}

               <tr>
{% if current_sample_transfer_id == sample_transfer.id %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
{% else %}
   {% set current_sample_transfer_id = sample_transfer.id %}
                    <td>{{sample_transfer.id}}</td>
                    <td>{{sample_transfer.sample_transfer_type.name}}</td>
                    <td>{{sample_transfer.date_transfer}}</td>
                    <td>{{sample_transfer.operator.first_and_last_name}}</td>
{% endif %}
                    <td><a href="{{ url_for('plate_report_page', plate_barcode=details.source_plate.external_barcode) }}">{{details.source_plate.external_barcode}}</a></td>
                    <td><a href="{{ url_for('plate_report_page', plate_barcode=details.destination_plate.external_barcode) }}">{{details.destination_plate.external_barcode}}</a></td>
              </tr>
{% endfor %}
            </tbody>
        </table>

</section>

{% include "error_popup.html"  %}


{% endblock %}

      
